/* DE TODAS AS PAGINAS */

*{
    margin:0;
    padding: 0;
}

#container{
    width:90%;
}

header{
    background-color: #87CEFA;
    min-height: 150px;
    border-radius: 10px;
}

body{
    background-color: rgb(91,206,250);
}

#nome{
    color: black;
    font-weight: bold;
    float:left;
}

#logo_reunit{
    float: left;
}

#menu{
    float: right;
    color: #FFFFFF;
    padding: 60px 10px 0px 0px;
}

#menu a{
    margin: 5px 55px 10px 5px;
    border-radius: 5px;
    padding: 55px 15px 50px 15px;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#menu a:hover{
    background-color: rgb(236,200,209);
    color:white;
}

#div_principal{
    margin: 20px 0 20px 0;
    padding: 25px, 50px, 25px, 50px;
    clear:both;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 40px;
    text-shadow: 0.5px 0 0 black;
    background-image: url('fundo.png');
    background-size: 100%;
    min-height: 800px;
}

.transparencia_fundo{
    background-color: rgba(227,229,234,0.5);
    margin: 25px 25px 25px 25px;
    padding:20px 25px 20px 25px;
    border-radius: 10px;
    
}



footer{
    background-color: #87CEFA;
    min-height:30px;
    font-size: 20px;
    color: black;
    padding: 5px 0 5px 0;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}


/*DO INICIO */

#img_horarios{
    float:left;
    padding: 0 0 40px 250px;
}

#acronimo{
    float:right;
    text-align: left;
    line-height: 30px; 
    padding: 10px 370px 0 0;
    font-size:35px;
}

#como_surgiu{
    clear:both;
}

/* DA NOSSA HISTORIA */


#primeira_ilustracao{
    float: left;
    padding: 0 20px 0 0;
}

#primeiro_paragrafo{
    padding: 20px 0 0 0;
    text-align: left;
}

#segunda_ilustracao{
    float:right;
    padding: 130px 0 0 20px;
}

#segundo_paragrafo{
    text-align: right;
    padding: 65px 0 0 0;
}